/* bootstrap navbar styling */
nav {
    margin: 0px 2px 2px 2px;
  }
  .navbar-light {
    background-color: #136F63
}

.navbar-brand {
    font-weight:900;
    font-size: 30px;



}

.navbar-nav {

    border-left: solid 1px black;
    font-size: 20px;
    font-weight: bold;
}
  /* bootstrap navbar styling */


  body {
      background: url(https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=900&q=60);
      background-repeat:no-repeat;
      background-size:cover;
      background-attachment:scroll;
  }





.button-custom {
    margin: 20px;
    padding: 20px;
}

.card-container {
    max-width: 60rem;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(25, 76, 52, 0.72);
}

.banner-custom-enemy {
    text-align: center;
    color: black;
    background-color: rgba(79, 79, 79, 0.8);
    width: 350px;
    margin-top: 20px;
    padding-top: 25px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-radius:.75px;
    border-style:groove;
    border-color: black;
    border-width: .25rem;
}

.banner-custom-player {
    text-align: center;
    color: rgb(22, 251, 240);
    background-color: rgba(79, 79, 79, 0.8);
    width: 350px;
    margin-top: 20px;
    padding-top: 25px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-radius: .75px;
    border-style: groove;
    border-color: black;
    border-width: .25rem;
}




.jumbotron {
    background-color:rgba(79, 79, 79, 0.8);
    margin-right: 70px;
    margin-left: 70px;
    padding-top:1rem;
}
.gameTitle {
    color: black;
    text-align: center;
    font-family:'Syne Mono', monospace;
    font-size: 5rem;
    margin-right: auto;
}

.display-4 {
    font-family: 'Syne Mono', monospace;
    text-align: center;
    color:#041b15;
    font-size: 2rem;
}

.lead {
    font-family: 'Syne Mono', monospace;
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

.card{
    display: flex;
    margin: 1rem 1rem;
    width: 17rem;
    height: 25rem;
    background: url(https://images.unsplash.com/photo-1549645402-a9d655c5c344?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8cm9ja3xlbnwwfDF8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60);
    box-shadow: 0 .5rem 1rem gray;
    border-radius: 0.5rem;
    border:.5rem #136f63 ridge;
}

.innercard{
    background-color:rgba(238, 231, 231, 0.5);
    border-style:ridge;
    border-width: .25rem;
    border-color:#136F63;
    width: 14rem;
    height: 22rem;
    margin: auto;
    border-radius: 0.5rem;
}

.char-name{
    margin-top: .25rem;
    margin-bottom: 0.02rem;
    text-align: center;
    font-family:'Syne Mono', monospace;
}

.image img {
    width:12.5rem;
    height: 12rem;
    margin-left:.5rem;
    border: black .25rem solid;
    border-radius: 0.5rem;
   
}
.card-body{
    font-family:'Syne Mono', monospace;
    font-weight:bold;
    text-align: center;
}